.login__title {
    font-family: 'Inter', Verdana, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    margin: 0px 0px 50px;
  }