.element__like {
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/like-img.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  width: 22px;
  height: 22px;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
